* {
  box-sizing: border-box;
  padding: 0;
  pargin: 0; }

body {
  font-family: 'Heebo', sans-serif;
  font-size: 10px;
  line-height: 1.5;
  background-color: #141414;
  color: #fff; }

a {
  text-decoration: none;
  color: #fff; }

ul {
  list-style: none; }

img {
  width: 100%; }

.btn {
  cursor: pointer;
  border: none;
  font-size: 1rem;
  border-radius: 3px;
  padding: 0.5rem 1.2rem; }
  .btn.btn-primary {
    background-color: #e50914;
    color: #fff;
    transition: all 0.5s ease-out; }
    .btn.btn-primary:hover {
      background-color: #9b060e; }
